@tailwind base;
@tailwind components;
@tailwind utilities;

.terminal {
  @apply font-firacode relative h-96 w-full rounded-xl border-2 bg-primary/40 px-3 backdrop-blur-lg;
}

.px-container {
  @apply px-5 sm:px-10 md:px-20 xl:px-28;
}

.py-container {
  @apply py-5 sm:py-10;
}

*::-webkit-scrollbar {
  @apply hidden;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 3s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
